@mixin primaryFontStack			{ font-family: 'Source Sans', serif; }
@mixin primaryFontStackMedium	{ font-family: 'Source Sans', serif; }
@mixin primaryFontStackBold		{ font-family: 'Source Sans', serif; }
@mixin primaryFontStackItalic	{ font-family: 'Source Sans Italic', serif; }
@mixin secondaryFontStack		{ font-family: 'Lato', sans-serif; }

@mixin ColumnCalc($numCol,$numColTotal) { // calculates the % width of a column based on number columns used of a total number columns
	width: ((100% / $numColTotal) * $numCol);
}
@mixin ColumnCalc-ie($numCol,$numColTotal) { // IE version
	width: (((100% / $numColTotal) * $numCol) - 2%)!important;
	display: inline-block;
	*display: inline;
	zoom: 1;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top;
	text-rendering: auto;
}
@mixin theRowMachine($itemsRow, $margin) { // calculates the % width of a column based on number of columns, margin and removes margin of last column
	width: ((100% - (($itemsRow - 1) * $margin)) / $itemsRow);
	margin-right: $margin;
	margin-bottom: $margin;
	&:nth-child(n){
		margin-right: $margin;
	}
	&:nth-child(#{$itemsRow}n) {
		margin-right: 0;
	}
}
@mixin theRowMachine-ie($itemsRow, $margin) { // calculates the % width of a column based on number of columns, margin and removes margin of last column
	width: (((100% - (($itemsRow - 1) * $margin)) / $itemsRow) - 3%)!important;
	margin-right: $margin;
	margin-bottom: $margin;
	&:nth-child(n){
		margin-right: $margin;
	}
	&:nth-child(#{$itemsRow}n) {
		margin-right: 0;
	}
}

@mixin TransitionAll($milliSeconds) {
	-webkit-transition: all $milliSeconds+ms ease-in;
	-moz-transition: all $milliSeconds+ms ease-in;
	-ms-transition: all $milliSeconds+ms ease-in;
	-o-transition: all $milliSeconds+ms ease-in;
	transition: all $milliSeconds+ms ease-in;
}

@mixin Transition($property, $milliSeconds) {
	-webkit-transition: $property $milliSeconds+ms ease-in;
	-moz-transition: $property $milliSeconds+ms ease-in;
	-ms-transition: $property $milliSeconds+ms ease-in;
	-o-transition: $property $milliSeconds+ms ease-in;
	transition: $property $milliSeconds+ms ease-in;
}
@mixin linearGradient($fromColor, $toColor) {
	background-color: $toColor; /* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
	background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
	background-image:         linear-gradient(top, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin BoxShadow{
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 2px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

@mixin sliderShadow {
	background: #c0c0c0;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #c0c0c0 0%, #f5f5f5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0c0c0), color-stop(100%,#f5f5f5));
	background: -webkit-linear-gradient(top, #c0c0c0 0%,#f5f5f5 100%);
	background: -o-linear-gradient(top, #c0c0c0 0%,#f5f5f5 100%);
	background: -ms-linear-gradient(top, #c0c0c0 0%,#f5f5f5 100%);
	background: linear-gradient(to bottom, #c0c0c0 0%,#f5f5f5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0c0', endColorstr='#f5f5f5',GradientType=0 );
}

@mixin transform($value){
	-moz-transform: $value;
	-ms-transform: $value;
	-webkit-transform: $value;
	transform: $value;
}

@mixin deleteDefaultButtonStyle(){
	padding: 0px;
	border: none;
	background-color: transparent;
	outline: 0px;
	filter: none;
	background: none;

	&:hover, &:focus{
		filter: none;
		background-image: none;
		background-color: transparent;
	}
}