.page-title {
	@include primaryFontStackItalic;
    color: #000;
    font-size: 30px;
    padding-left: 20px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.left-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 24px 5.5px;
	border-color: transparent transparent #e21b21 transparent;
	position: absolute;
	top: 9px;
	left: 0;
}

.right-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 24px 5.5px 0 5.5px;
	border-color: #e21b21 transparent transparent transparent;
	position: absolute;
	top: 9px;
	left: 5px;
}

.icon {
	position: absolute;
	top: 0;
	left: 0;
}

.icon-page-heading {
	width: 17px;
	height: 24px;
	top: 9px;
	fill: chocolate;
	color: #bada55;
}