.page-title {
	@include primaryFontStackItalic;
    color: #000;
    font-size: 30px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.box-icon-sm {
	   padding-left: 20px;
}

.box-icon-med {
	   padding-left: 40px;
}


.left-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5.5px 24px 5.5px;
	border-color: transparent transparent #e21b21 transparent;
	position: absolute;
	top: 9px;
	left: 0;
}

.right-triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 24px 5.5px 0 5.5px;
	border-color: #e21b21 transparent transparent transparent;
	position: absolute;
	top: 9px;
	left: 5px;
}

.icon {
	position: absolute;
	top: 0;
	left: 0;
}

.icon-polygon {
	width: 17px;
	height: 24px;
	top: 9px;
	fill: chocolate;
	color: #bada55;
}

.icon-facebook {
	width: 35px;
	height: 35px;
	top: 3px;
	fill: #fff;
	background: teal;
	border-radius: 3px;
}