/* ===================================
   Typography - Custom
   =================================== */
/* PureCSS.
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`.
*/
html,
button,
input,
select,
textarea,
html {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	@include primaryFontStack;
	font-size: 14px;
	line-height: 1.6em;
	color: $bodyTextCol;
}

.pure-g [class *= "pure-u-"] {
	@include primaryFontStack;
}

h1,
.h1 { line-height: 38px; }

h1,
h2,
h3,
h4,
h5,
h6 {
	@include primaryFontStackItalic;
	color: $secondaryCol;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

ul { padding-left: 18px; }

p, li {
	@include primaryFontStack;
	font-size: 14px;
	line-height: 1.6em;
	font-weight: normal;
	color: $bodyTextCol;
	margin: 0 0 10px
}

a { color: $black100; }
a:hover,
a:focus { color: $black100; text-decoration: underline; }
a:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.glyph_text { text-indent: -10000px; display: block; }

input,
button,
select,
textarea { font-family: inherit; font-size: inherit; line-height: inherit; }

.dark { color: $black100;  }
.weighted { font-weight: 700; color: $black100;  }
.semi-weighted { font-weight: 600; color: $black100; }
.red { color: $red; }