/* ==========================================================================
   Variables
   ========================================================================== */

$bp-xs: 		400px;
$bp-sm: 		568px;
$bp-sm-2: 		640px;
$bp-md: 		768px;
$bp-md-2: 		880px;
$bp-lg: 		1024px;
$bp-xl: 		1280px;
$fixedWidthThreshold: 1025px;

/*- - - - - - - - - - - */
$black3: 		#f7f7f7;
$black5: 		#F2F2F2;
$black8: 		#ebebec;
$black10: 		#E5E5E5;
$black15: 		#dcddde;
$black20: 		#d1d3d4;
$black25:		#c1c1c1;
$black30: 		#b2b2b2;
$black40: 		#a7a9ac;
$black50: 		#808080;
$black55: 		#737373;
$black60: 		#666666;
$black65: 		#595959;
$black70: 		#4D4D4D;
$black75: 		#404040;
$black80: 		#333333;
$black85: 		#262626;
$black90: 		#1A1A1A;
$black93:		#393839;
$black94:		#343434;
$black95: 		#333132;
$black97:		#2d2a2b;
$black100: 		#000000;


$yellow: #F8B427;
$red: #DC393D;
$bodyTextCol: $black60;


$primaryCol: $black100;
$primaryCol-lt: lighten(#000, 7%);
$primaryCol-md: saturate(#000, 50%);

$secondaryCol: $black100;

$buttonCol: $primaryCol;
$buttonCol-dk: $primaryCol-lt;

/*  Red alert */
$alert: 		#e9322d;

$homeSliderMaxWidth: 1920px;